@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Poppins:wght@300;400;500&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.flex{
    display: flex;
    align-items: center;
}
::selection{
    background-color: #e6284b;
    color: aliceblue;
}
.container{
    width: 1090px;
}
ul{
    list-style: none;
}
.btn{
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #e6284b;
    color: aliceblue;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s;
}
.btn:hover{
    color: aliceblue;
    background-color: #e6284b;
    border: 1px solid white;
}
a{
    text-decoration: none;
    color: aliceblue;
}
nav{
    width: 100%;
    height: 60px;
    background-color: #fcf9f9;
    color: rgb(8, 8, 8);
    justify-content: space-between;
    /* backdrop-filter: blur(10px); */
    /* box-shadow: 0 0 15px #555; */
}
.logo img{
    width: 100px;
    padding-block: 10px;
    cursor: pointer;
    /* text-shadow: 0 0 10px #666; */
}
.item ul{
    gap: 30px;
    font-family: 'poppins';
}
.item ul li {
    cursor: pointer;
    font-family: 'poppins';
    font-weight: 500;
    transition: 0.2s;
}
.item ul li:hover{
    color: #e6284b;
}
.search{
    gap: 15px;
    margin-right: 30px;
    cursor: pointer;
}
.search input{
    padding: 8px;
    border-radius: 8px;
    border:1px solid #333;
    font-family: 'poppins';
}
.user i{
    /* margin-right: 10px; */
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #333;
}
main{
    background: url(shoes4.jpg);
    width: 100%;
    height: 90vh;
    background-size: cover;
}
.image img:hover{
    transform: scale(1.1);
    box-shadow: 0 1px 15px #444;
}
.image{
    justify-content: space-evenly;
}
.image img{
    width: 400px;
    margin-top: 4%;
    transition: 0.5s;
    cursor: pointer;
}
.product{
    width: 100%;
    height: 60vh;
    /* background-color: #333; */
    background: linear-gradient(190deg, #111, #444);
    flex-direction: column;
    padding-block: 30px;
    color: aliceblue;
    gap: 20px;

}
.product span{
    color: #e6284b;
    font-size: 1.5rem;
    font-family: 'poppins';
}
.prod-item{
    width: 80%;
    height: 55vh;
    background-color: #5957575c;
    backdrop-filter: blur(10px);
    justify-content: space-evenly;
    border-radius: 15px;
    /* flex-wrap: wrap; */
}
.product h2{
    text-transform: uppercase;
    font-family: 'poppins';
    overflow: hidden;
    width: 24ch;
    height: 50px;
    animation: ani 3s linear infinite alternate-reverse;
}
@keyframes ani {
    from{width: 24ch;}
    to{ width: 0ch;}
}
.product h3{
    font-size: 1.5rem;
    font-family: 'poppins';
    text-transform: uppercase;
}
.card{
    width: 250px;
    height: 280px;
    background-color: #444;
    flex-direction: column;
    background: url(These\ MARVEL\ X\ Nike\ collab\ footwear\ concepts\ turn\ your\ favorite\ Avengers\ into\ dope\ sneakers\ -\ Yanko\ Design.jpeg);
    background-size: cover;
    background-position: center;
    align-items: start;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
}
.card:hover{
    transform: scale(0.9);
    box-shadow: 0 1px 15px #444;
}
.card:nth-child(2){
    background: url(Droplist\ Portugal.jpeg);
    background-size: cover;
    background-position: center;
    color: rgb(233, 248, 69);
}
.card:nth-child(3){
    background: url(Dropping\ LTD\ Edition\ Kicks.jpeg);
    background-size: cover;
    background-position: center;
    color: rgb(21, 64, 138);
}
.card:nth-child(4){
    background: url(Mohamed\ Basil\ on\ Behance.jpeg);
    background-size: cover;
    background-position: center;
    color: #111;
}
.card-text{
    transform: translateY(370%);
    margin-left: 10px;
}
.card-text p{
    color: #777;
    margin-top: -5%;
}
.big-content{
    width: 100%;
    height: 110vh;
    padding-block: 40px;
    background-color: rgb(228, 229, 230);
}
.big-text{
    width: 400px;
    position: relative;
    left: 10%;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-family: 'poppins';
}
.big-image{
    margin-inline: auto;
    width: 80%;
    height: 90vh;
    background: url(nike.jpg);
    background-size: cover;
    color: aliceblue;
    border-radius: 8px;
    animation: animo 7s linear infinite alternate-reverse;
}
@keyframes animo {
    0%{
        background: url(nike.jpg);
        background-size: cover;
    }
    50%{
        background: url(nike2.jpg);
        background-size: cover;
    }
    100%{
        background: url(nike3.jpg);
        background-size: cover;
    }
}

.box{
    position: relative;
    width: 280px;
    left: 5%;
    top: 5%;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}
.box span{
    color: #e6284b;
    font-weight: 600;
    font-family: 'poppins';
}
.slider{
    width: 100%;
    height: 125vh;
    padding-block: 40px;
    color: aliceblue;
    /* background: url(Fashion\ Photography\ of\ Sneakers.jpeg); */
    background: linear-gradient(190deg, #111, #444);
    /* background-size: 600px; */
}
.slid-text{
    width: 200px;
    position: relative;
    left: 10%;
    top: 2%;
    text-transform: uppercase;
    font-family: 'poppins';
    margin-block: 10px;
}
.slider-card{
    max-width: 1220px;
    width: 80%;
    height: 40vh;
    margin-inline: auto;
    /* background-color: #444; */
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;
    border-radius: 8px;
    margin-block: 1.5%;
}
.slider-card::-webkit-scrollbar{
    display: none;
}
.cards{
    width: 250px;
    height: 280px;
    background: url(nike5.jpeg);
    background-size: cover;
    background-position: center;
    font-family: 'poppins';
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.5s;
}
.cards:hover{
    transform: scale(1.1);
}
.cards h2, p{
    position: relative;
    top: 78%;
    left: 5%;
}
.cards span{
    text-decoration: line-through;
}
.cards p{
    color: #666;
}
.cards:nth-child(2){
    background: url(Air\ Jordan\ 6\ Retro\ \'Navy\'.jpeg);
    background-size: cover;
    background-position: center;
}
.cards:nth-child(3){
    background: url(nike6.jpeg);
    background-size: cover;
    background-position: center;
}
.cards:nth-child(4){
    background: url(nike7.jpeg);
    background-size: cover;
    background-position: center;
    color: #111;
}
.cards:nth-child(5){
    background: url(download.jpeg);
    background-size: cover;
    background-position: center;
}
.cards:nth-child(6){
    background: url(Sneaker\ Poster\ Vol-13.jpeg);
    background-size: cover;
    background-position: center;
    color: #111;
}
.cards:nth-child(7){
    background: url(Sneaker\ Poster\ Vol-19.jpeg);
    background-size: cover;
    background-position: center;
    color: #111;
}
.cards:nth-child(8){
    background: url(Li-Ning\ Counterflow.jpeg);
    background-size: cover;
    background-position: center;
}
.cards:nth-child(9){
    background: url(Log\ in\ to\ Twitter\ _\ X.jpeg);
    background-size: cover;
    background-position: center;
}
.cards:nth-child(10){
    background: url(download3.jpeg);
    background-size: cover;
    background-position: center;
}
.trend-box{
    width: 80%;
    height: 60vh;
    margin-inline: auto;
    /* background-color: #444; */
    flex-direction: column;
    gap: 20px;
}
.tcard{
    flex-direction: column;
    cursor: pointer;
    transition: 0.5s;
}
.tcard:hover{
    transform: scale(0.9);

}
.tcard img{
    width: 290px;
    height: 350px;
    border-radius: 8px;
}
.trend-text{
    font-family: 'poppins';
    width: 100%;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.trend-card{
    /* background-color: #111; */
    width: 100%;
    height: 500px;
    justify-content: space-evenly;
    gap: 20px;
}
.text-card{
    padding-block: 10px;
    font-family: 'poppins';
    text-transform: uppercase;
    font-weight: 300;
    text-align: start;
}
.text-card h4{
font-size: 1.3rem;
}
.text-card h5{
    font-size: 1.2rem;
}
.text-card p{
    text-align: end;
    width: 260px;
    color: #999;
}
footer{
    width: 100%;
    height: 40vh;
    justify-content: space-around;
    background-color: #dfe3e6;
}
.foot-logo{
    width: 300px;
    flex-direction: column;
    align-items: start;

}
.foot-logo h1{
    font-size: 1.5rem;
    text-transform:uppercase;
    transform: translateX(12px);
}
.foot-logo p{
    line-height: 20px;
    font-family: 'poppins';
    color: #666;

}
.foot-img img{
width: 150px;
}
.playstore img{
width: 150px;
cursor: pointer;
}
.foot-item ul{
    gap: 20px;
}
.foot-item ul li {
    cursor: pointer;
    font-family: 'poppins';
    font-weight: 500;
    transition: 0.2s;
}
.foot-item ul li:hover{
    color: #e6284b;
}
.account{
    /* background-color: #999; */
    height: 200px;
}
.account h3{
    text-transform: uppercase;
    margin-block: 15px;
    font-family: 'poppins';
    font-size: 1rem;
    margin-left: 10px;
}
.account p{
    color: #111;
    transform: translateY(-850%);
    width: 300px;
    margin-left: -10px;
}
