@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Inter", "poppins";
  background: #f4f2f0d7;
  /* background: #b6a28deb; */
}

.container-fluid {
  /* background-image: url(image/tim-meyer-6yTAcRpWiYY-unsplash.jpg); */
  background-image: url(image/HUAWEI-FreeBuds-5-earbuds-6.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0;

}

nav {
  position: fixed;
  width: 100vw;
  /* background-color: #567d835c; */
  background: linear-gradient(to right, #b0a590ed, #f3e9d7);
  height: 8vh;
  z-index: 2;
  font-family: "poppins" !important;

}

.oo {
  transition: 1.8s ease-out;
  cursor: pointer;
  /* border: 1px solid; */
}

.oo:hover {
  transform: scale(1.2);
}

.hh {
  background-image: url(image/asset\ 27.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.hh2 {
  background-image: url(image/screen-post-Nb__biKZmWI-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.pp {
  transition: 0.8s;
height: ;}

.pp:hover {
  /* background-image: url(image/asset\ 2.jpeg); */
  cursor: pointer;
  /* box-shadow: 1px 1px 12px #567d835c; */
  box-shadow: -5px 21px 53px -15px rgba(0,0,0,0.52);
  transform: scale(0.9);
}

.mit {
  flex-wrap: nowrap;
  overflow: auto;
  scrollbar-width: hidden;
}

::-webkit-scrollbar {
  display: none;
}
/* .bii{
  background-image: url(image/video1-ezgif.com-video-to-gif-converter.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
/* .cont-0{
  background-image: url(image/asset\ 38.png);
  background-size: contain;
  background-repeat: no-repeat;

}
 */












.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  /* background-color: #000; */
  background-color: #b0a590ed;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  /* border: 1px solid; */
  /* font-size: 0.8rem; */
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1rem 1.5rem;
  position: relative;
  text-transform: uppercase;
}

.btn-53 .original {
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}