@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lusitana:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

::selection{
    background: rgb(101, 208, 250);
    color: #fff;
}
.container{
    /* width: 2080px !important; */
}
.oo{
    transition: 0.5s;
    border-radius: 12px;
}
.oo:hover{
    background-color: #f5f5f51c;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 2px 3px 19px 0.1px rgba(45, 45, 45, 0.353);
    border: 0.5px solid #55555581;
}
.input-group input:focus{
    outline: none;
}
.mj{
    border-radius: 25px;
    background-image: url(image/asset\ 6.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.ho .btn{
    background-color: #09757a ;
    transition: 0.5s;
}
.ho .btn:hover{
    background-color: #085f64;
}
.bb{
    background-color: #fff;
}
.bb:hover{
    background-color: #000;
}
.hp{
    transition: 0.5s;
}
.hp:hover{
    box-shadow: 2px 3px 19px 0.2px rgba(45, 45, 45, 0.353);
}
.gool{
  background-image: url(image/heelo2.png);
  background-size: cover;
  background-position: center;
  border-radius: 18px;
}
.hye{
  transition: 0.5s;
  cursor: pointer;
}
.hye:hover{
  box-shadow: 2px 3px 19px 0.2px rgba(45, 45, 45, 0.353);
}

.boor{
  display: flex;
  flex-wrap: nowrap;
  column-gap: 10px;
  max-width: 100vw;
  overflow-x: auto;
  scrollbar-width: none;
  margin: 0;
  height: 50vh;
  /* border: 1px solid; */
}
.boor ::-webkit-scrollbar{
  display: none;
}
.boor-1{
  width: 325px;
  height: 48vh;
}
.boor-img{
  border-radius: 12px 12px 0 0;
  background-image: url(image/heelo.png);
  height: 200px;
  background-position: center;
  background-size: cover;
}
.boor2-img{
  border-radius: 12px 12px 0 0;
  background-image: url(image/heelo2.png);
  height: 200px;
  background-position: center;
  background-size: cover;
}
.boor3-img{
  border-radius: 12px 12px 0 0;
  background-image: url(image/heelo3.png);
  height: 200px;
  background-position: center;
  background-size: cover;
}
.maza{
  /* width: 100%; */
  height: 90vh;
  background-image: url(image/big-image.png);
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  background-repeat: no-repeat;
}
.mazad{
  /* width: 70% !important; */
  height: 35vh;
  background-image: url(image/Contemplative\ Young\ Man\ with\ Teal\ Background.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  background-repeat: no-repeat;
}
.s-first{
  background-image: url(image/one.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.s-second{
  background-image: url(image/two.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.s-third{
  background-image: url(image/three.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.col-img{
  filter: drop-shadow(-12px 10px 18px #55555590 );
}





.btn-12,
.btn-12 *,
.btn-12 :after,
.btn-12 :before,
.btn-12:after,
.btn-12:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-12 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: capitalize;
}

.btn-12:disabled {
  cursor: default;
}

.btn-12:-moz-focusring {
  outline: auto;
}

.btn-12 svg {
  display: block;
  vertical-align: middle;
}

.btn-12 [hidden] {
  display: none;
}

.btn-12 {
  border-radius: 10px;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 2.5rem;
  position: relative;
}

.btn-12 span {
  mix-blend-mode: difference;
}

.btn-12:after,
.btn-12:before {
  background: linear-gradient(
    90deg,
    #fff 25%,
    transparent 0,
    transparent 50%,
    #fff 0,
    #fff 75%,
    transparent 0
  );
  content: "";
  inset: 0;
  position: absolute;
  transform: translateY(var(--progress, 100%));
  transition: transform 0.2s ease;
}

.btn-12:after {
  --progress: -100%;
  background: linear-gradient(
    90deg,
    transparent 0,
    transparent 25%,
    #fff 0,
    #fff 50%,
    transparent 0,
    transparent 75%,
    #fff 0
  );
  z-index: -1;
}

.btn-12:hover:after,
.btn-12:hover:before {
  --progress: 0;
}
